@import '../abstracts/mixins';

$redPrimary: #FD003A;
$yellowSecondary: #FFCF39; //use
$yellowSecondary-dark: #F8C320; //use
$yellowSecondary-light: #ffe492; //use
$yellowSecondary-verylight: #f8f6f1; //use
$yellowSecondary-extralight: #FFFDF8; //use
$greyRed: #3F3543; //use
$greyBlue: #3E3F68; //use
$greyBlue-Light: #78849E; //use
$greyLight: #707070; //use
$grey: #3F3543; //use | text
$whiteCustom: #FAF8F8;

//Variables tailles
$navbar_height: 60px; //use
$margin-constraint-width: calc(100vw - 40px); //use
$useful-width: map-get($breakpoints, "XL"); //use


//Variables stores list
$store-list-height: 350px;
$element-list-height: 90px;
$img-element-list-height: 65px;

$listStores-element-img: 200px;
$listStores-element-info: 60px;
$listStores_height: $listStores-element-img + $listStores-element-info;

$marginBottom-section: 40px;

//Taille polices
/* -- Desktop --*/
$sizeTitlePage: 32px; //use
$sizeTitle: 22px;
$sizeSubTitle: 20px;
$sizeTextCTA: 18px;
$sizeText:16px;
$sizeTextParagraph:15px;
$sizeTextAdditionnal:13px;
/* --Mobile--*/
$sizeLienMenu--mobile: 22px;
$sizeTitle--mobile: 22px;
$sizeSubTitle--mobile: 18px;
$sizeTextCTA--mobile: 15px; //use
$sizeText--mobile:14px;
$sizeTextAdditionnal--mobile:13px;
/* --Epaisseur police --*/
$thin: 100;
$extra-ligth: 200;
$ligth: 300;
$regular: 400;
$medium: 500; //use
$semi-bold: 600;
$bold: 700; //use
$extra-bold: 800;
$black: 900;

$footer_height: 185px;



//Margin
$titre_marginBottom: 30px;
//Animations
/* Time function */
$easeIn-2s: all .2s ease-in;


//Variables couleurs
$CG_Grey1: #363636; //Titre important
$CG_Grey2: #707070; //Sous titre
$CG_WhiteIvoire: #fbfbfd; //Background
$grey: #363636; //Texte
$CG_White: #fcfcfc; //Fond de description
$CG_RougePrincipal: #c12c3e;
$CG_RougePrincipalLight: #d93e51; //hover menu
$CG_VioletLight: #E6E3F4;