
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
/* -- Desktop --*/
/* --Mobile--*/
/* --Epaisseur police --*/
/* Time function */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;

  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

@-ms-viewport {
  width: device-width;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  left: 0;
  top: 0;
}

.page-wrapper, body, html {
  position: absolute;
  height: 100%;
  width: 100%;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

h2 {
  display: block;
  width: 100%;
  text-align: center;
  color: #cb7731;

}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-width: 2px;
  border-color: #313131;
  margin: 0;
}

p {
  margin: 0;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin: 0;
  list-style-type: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

a,
area,
button,
[role=button],
input:not([type=range]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
  outline: none;
}

button:focus {
  outline: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

body {
  width: 100%;
  font-family: "Josefin Sans", sans-serif !important;
  color: #3F3543;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn-color {
  color: white;
  border-radius: 30px;
  border: 0px;
  outline: none;
}

.btn-white {
  background-color: white;
  color: #707070;
  border: 1px solid #707070;
}

.btn-action {
  background-color: #E50027;
  color: white;
  border: 0px;
  padding: 5px 25px !important;
  margin: 0 auto;
}

.btn-secondary {
  background-color: #FFCF39;
  color: white !important;
}

.btn-secondary:hover {
  background-color: #F8C320;
  color: white;
}

.btn-xs {
  font-size: 14px;
  padding: 4px 12px 1px 12px;
  width: auto;
}

.btn-s {
  font-size: 16px;
  padding: 4px 12px 1px 12px;
}

.btn-r8 {
  border-radius: 8px !important;
}

.btn-r12 {
  border-radius: 12px !important;
}

.btn-py3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.btn-resetFilters {
  max-width: 80px;
  margin: 5px auto;
}

.modal-store {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  min-height: 100%;
}
.modal-store .close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 1;
  opacity: 1;
}
.modal-store .close:hover {
  opacity: 1;
  cursor: pointer;
}
.modal-store .close:before,
.modal-store .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: white;
}
.modal-store .close:before {
  transform: rotate(45deg);
}
.modal-store .close:after {
  transform: rotate(-45deg);
}
.modal-store .header-modal-store {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-store .header-modal-store .img-store {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 170px;
}
.modal-store .header-modal-store .img-store img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-store .header-modal-store .img-store:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: transparent linear-gradient(180deg, #2a2e4300 0%, #795656 100%) 0% 0% no-repeat padding-box;
}
.modal-store .header-modal-store .info-store {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
}
.modal-store .header-modal-store .info-store h3 {
  color: white;
  font-size: 42px;
  margin-bottom: 0px;
}
.modal-store .header-modal-store .info-store .note-store {
  display: flex;
}
.modal-store .header-modal-store .info-store .note-store .icon-star {
  width: 16px;
  margin: 0 2px;
}
.modal-store .header-modal-store .info-store .note-store .icon-star img {
  width: 100%;
  height: 100%;
}
.modal-store .header-modal-store .info-store .note-store .icon-star.disable {
  opacity: 0.4;
}
.modal-store .header-modal-store .info-store .stars-and-notes {
  display: flex;
  align-items: center;
}
.modal-store .header-modal-store .info-store .stars-and-notes .total-notes {
  margin-left: 10px;
  color: #363636;
  font-size: 14px;
  color: white;
}
.modal-store .main-modal-store {
  position: relative;
  margin-top: -25px;
  border-radius: 15px;
  background-color: white;
}
.modal-store .main-modal-store .comments-modal-store h3 {
  font-size: 18px;
  font-weight: 400;
}
.modal-store .main-modal-store .comments-modal-store .comment {
  padding: 12px;
  box-shadow: 0px 4px 16px #455b6314;
}
.modal-store .main-modal-store .comments-modal-store .comment .info-comment {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2px;
}
.modal-store .main-modal-store .comments-modal-store .comment .info-comment div:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.modal-store .main-modal-store .comments-modal-store .comment .info-comment div:nth-child(1) .owner-comment {
  font-size: 14px;
  font-weight: 700;
}
.modal-store .main-modal-store .comments-modal-store .comment .info-comment div:nth-child(1) .data-comment {
  font-size: 14px;
  font-weight: 300;
}
.modal-store .main-modal-store .comments-modal-store .comment .contain-comment {
  font-size: 13px;
  font-weight: 300;
}
.modal-store .main-modal-store .comments-modal-store .pagination-comment {
  display: none;
}
.modal-store .main-modal-store .useful-width {
  display: flex;
  flex-direction: column;
}
.modal-store .main-modal-store .comments-modal-store {
  order: 2;
}
.modal-store .main-modal-store .description-modal-store .title-favorite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-store .main-modal-store .description-modal-store .title-favorite h3 {
  font-size: 18px;
  font-weight: 400;
}
.modal-store .main-modal-store .description-modal-store .title-favorite .icon-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
.modal-store .main-modal-store .description-modal-store .title-favorite .icon-favorite .fav-btn {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.modal-store .main-modal-store .description-modal-store .title-favorite .icon-favorite .fav-btn #checkbox-favoris {
  display: none;
}
@-webkit-keyframes favme-anime {
  0% {
    opacity: 1;
    font-size: ms(0);
    -webkit-text-stroke-color: transparent;
  }
  25% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(-2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dc3232;
  }
  75% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(3);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dc3232;
  }
  100% {
    opacity: 1;
    font-size: ms(2);
    -webkit-text-stroke-color: transparent;
  }
}
@keyframes favme-anime {
  0% {
    opacity: 1;
    font-size: ms(0);
    -webkit-text-stroke-color: transparent;
  }
  25% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(-2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dc3232;
  }
  75% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(3);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dc3232;
  }
  100% {
    opacity: 1;
    font-size: ms(2);
    -webkit-text-stroke-color: transparent;
  }
}
@-webkit-keyframes favme-hover {
  from {
    font-size: ms(3);
  }
  80% {
    font-size: ms(2);
  }
}
@keyframes favme-hover {
  from {
    font-size: ms(3);
  }
  80% {
    font-size: ms(2);
  }
}
.modal-store .main-modal-store .description-modal-store .title-favorite .icon-favorite .favme {
  display: block;
  font-size: 25px;
  width: auto;
  height: auto;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s ease;
  color: #cbcdce;
  margin: 0;
}
.modal-store .main-modal-store .description-modal-store .title-favorite .icon-favorite .favme.active {
  color: #dc3232;
}
.modal-store .main-modal-store .description-modal-store .title-favorite .icon-favorite .favme:hover {
  -webkit-animation: favme-hover 0.3s infinite alternate;
          animation: favme-hover 0.3s infinite alternate;
}
.modal-store .main-modal-store .description-modal-store .title-favorite .icon-favorite .favme.is_animating {
  -webkit-animation: favme-anime 0.3s;
          animation: favme-anime 0.3s;
}
.modal-store .main-modal-store .description-modal-store .content-description {
  font-size: 14px;
  color: #3F3543;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 20px;
}
.modal-store .main-modal-store .description-modal-store .info-contact-store {
  margin-bottom: 20px;
}
.modal-store .main-modal-store .description-modal-store .info-contact-store .part {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}
.modal-store .main-modal-store .description-modal-store .info-contact-store .element-info-contact-store {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
}
.modal-store .main-modal-store .description-modal-store .info-contact-store .element-info-contact-store div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
}
.modal-store .main-modal-store .description-modal-store .info-contact-store .element-info-contact-store div i {
  font-size: 20px;
  color: #FFCF39;
}

@media (min-width: 768px) {
  .modal-store {
    width: 100%;
  }
  .modal-store .close:before,
.modal-store .close:after {
    background-color: #363636;
  }
  .modal-store .header-modal-store {
    flex-direction: row;
    max-width: 1200px;
    margin: 40px auto;
  }
  .modal-store .header-modal-store .img-store {
    width: calc(40% - 20px);
    margin-left: 20px;
    height: 20vw;
  }
  .modal-store .header-modal-store .info-store {
    margin-left: 100px;
    width: 40%;
  }
  .modal-store .header-modal-store .info-store h3,
.modal-store .header-modal-store .info-store .total-notes {
    color: #363636 !important;
  }
  .modal-store .main-modal-store .useful-width {
    flex-direction: row;
  }
  .modal-store .main-modal-store .useful-width .comments-modal-store,
.modal-store .main-modal-store .useful-width .description-modal-store {
    width: 40%;
  }
  .modal-store .main-modal-store .useful-width .comments-modal-store {
    order: 0;
  }
  .modal-store .main-modal-store .useful-width .comments-modal-store .comment {
    padding: 15px;
  }
  .modal-store .main-modal-store .useful-width .comments-modal-store .date-comment {
    font-size: 14;
  }
  .modal-store .main-modal-store .useful-width .comments-modal-store .note-comment {
    color: #FFCF39;
    font-size: 14px;
  }
  .modal-store .main-modal-store .useful-width .comments-modal-store .contain-comment {
    font-size: 14px;
  }
  .modal-store .main-modal-store .useful-width .comments-modal-store .pagination-comment {
    display: flex;
    justify-content: center;
  }
  .modal-store .main-modal-store .useful-width .comments-modal-store .pagination-comment button {
    margin: 10px;
    background-color: white;
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #00000029;
    border: 0px;
    font-size: 15px;
    color: #363636;
  }
  .modal-store .main-modal-store .useful-width .description-modal-store {
    margin-left: 100px;
  }
}
/* -- Desktop --*/
/* --Mobile--*/
/* --Epaisseur police --*/
/* Time function */
footer {
  display: none;
}

/* -- Desktop --*/
/* --Mobile--*/
/* --Epaisseur police --*/
/* Time function */
header {
  width: 100%;
}

/* -- Desktop --*/
/* --Mobile--*/
/* --Epaisseur police --*/
/* Time function */
.logo {
  max-width: 120px;
}

nav {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  padding: 0px 20px;
  justify-content: space-between;
  z-index: 500;
}
nav .hamburger {
  cursor: pointer;
  right: 20px;
  z-index: 2;
  transition: all 0.5s ease-out;
}
nav .hamburger .line {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px;
}
nav .hamburger.open {
  position: fixed;
  transform: rotate(180deg);
  z-index: 50;
}
nav .hamburger.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
nav .hamburger.open .line:nth-child(2) {
  opacity: 0;
}
nav .hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
nav .hamburger.open .line {
  background-color: white;
}
nav .nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding-left: 25%;
  align-items: flex-start;
  margin-left: auto;
  position: fixed;
  top: 0px;
  background: #3F3543;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  transition: all 1s ease-out;
  clip-path: circle(0px at 100%);
  -webkit-clip-path: circle(0px at 90% -10%);
  pointer-events: none;
  z-index: 40;
}
nav .nav-links .btn-color {
  background-color: transparent;
}
nav .nav-links li {
  opacity: 0;
}
nav .nav-links li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 25px;
}
nav .nav-links li a img {
  width: 25px;
  margin-right: 10px;
}
nav .nav-links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}
nav .nav-links li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}
nav .nav-links li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}
nav .nav-links li:nth-child(4) {
  transition: all 0.5s ease 0.6s;
}
nav .nav-links li.fade {
  opacity: 1;
}
nav .nav-links.open {
  clip-path: circle(1000px at 100%);
  -webkit-clip-path: circle(1000px at 100%);
  pointer-events: all;
}

.card {
  overflow: auto !important;
  margin: 0 !important;
}

@media (min-width: 768px) {
  nav {
    position: relative;
    z-index: 50;
  }
  nav .hamburger {
    display: none;
  }
  nav .nav-links {
    display: flex !important;
    align-items: center;
    flex-direction: row;
    clip-path: circle(1000px at 100%);
    -webkit-clip-path: circle(1000px at 100%);
    pointer-events: all;
    background: none;
    height: auto;
    position: initial;
    padding-left: 0px;
    max-width: 400px;
  }
  nav .nav-links .btn-color {
    background-color: #FFCF39;
    color: white;
    font-size: 14px;
  }
  nav .nav-links .btn-secondary:hover {
    background-color: #F8C320;
    color: white;
  }
  nav .nav-links li {
    opacity: 1;
  }
  nav .nav-links li a.linkMenu {
    color: #3F3543;
    font-size: 20px;
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
  }
  nav .nav-links li a.linkMenu:before, nav .nav-links li a.linkMenu:after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
  }
  nav .nav-links li a.linkMenu:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ffc306;
    transform: translateX(-100%);
  }
  nav .nav-links li a.linkMenu:hover:before {
    transform: translateX(0);
  }
  nav ul {
    display: flex;
    justify-content: space-around;
  }
  nav ul li {
    font-size: 20px;
  }
  nav ul img {
    display: none;
  }
}
/* -- Desktop --*/
/* --Mobile--*/
/* --Epaisseur police --*/
/* Time function */
/* -- Desktop --*/
/* --Mobile--*/
/* --Epaisseur police --*/
/* Time function */
@media (min-width: 768px) {
  .account-info, .gestion-commerce {
    margin: 0px;
    width: 80%;
    align-self: center;
  }

  .info {
    margin-left: 25%;
  }

  .info .data {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .row {
    width: 50%;
  }
}
/* -- Desktop --*/
/* --Mobile--*/
/* --Epaisseur police --*/
/* Time function */
.login-illustration {
  display: none;
}

.login-forms {
  margin-top: 35px;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.select-type {
  width: 50%;
  margin: 0 auto 30px auto !important;
  display: flex;
  justify-content: space-around;
}
.select-type label {
  font-weight: bold;
  font-size: 1.2em;
  padding: 15px 15px 10px 15px;
  border-radius: 15px;
}
.select-type #connexion:checked + label[for=connexion],
.select-type #inscription:checked + label[for=inscription] {
  background-color: #FFCF39;
  color: white;
}

.login-section {
  width: 80%;
  margin: 15px auto 0 auto !important;
}
.login-section .login-input > input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px !important;
  margin: 10px 0 10px 0;
  border: none;
  outline: none;
  box-shadow: 0 0 6px #ebebeb;
}
.login-section .login-btn {
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  padding: 14px 0 14px 0 !important;
  font-weight: bold;
  margin-top: 15px;
}
.login-section a:nth-child(2) {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-top: 15px;
  padding: 14px 0 14px 15px;
  box-sizing: border-box;
  box-shadow: 0 0 6px #cccccc;
  border-radius: 10px;
}
.login-section a:nth-child(3) {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.login-section .checkbox {
  display: flex;
  margin-top: 5px;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #FFCF39;
  position: absolute;
  top: 40%;
  right: -50%;
}

@media (min-width: 1200px) {
  .login-container {
    display: flex;
    justify-content: left;
    width: 80%;
    margin: auto;
  }
  .login-container input,
.login-container label,
.login-container a {
    font-size: 1.2em;
  }

  .login-illustration {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 55%;
  }
  .login-illustration h1 {
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 0;
  }
  .login-illustration h3 {
    font-size: 2.5em;
    font-weight: normal;
    margin-top: 10px;
  }
  .login-illustration img {
    width: 50%;
    margin: auto;
  }

  .login-forms {
    width: 30%;
  }
}
/* -- Desktop --*/
/* --Mobile--*/
/* --Epaisseur police --*/
/* Time function */
.home-col-1 {
  display: none;
}

.home-col-2 h1,
.home-col-2 p {
  display: none;
}

.research {
  position: relative;
}
.research .input-group-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 14px 0px #455b6314;
  border-radius: 12px;
  z-index: 420;
}
.research .input-group-search input[type=text] {
  border-radius: 12px;
  border: 0px;
  font-size: 16px;
  width: 100%;
  padding-left: 20px;
  height: 100%;
  outline: none;
}
.research .input-group-search button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  border: 0px;
  min-width: 45px;
  background-color: white;
}
.research .input-group-search button .icon-menu-filter {
  width: 17px;
}
.research .input-group-search button .icon-search {
  width: 22px;
}
.research .input-group-search .button-input-filter {
  padding-left: 5px;
  border-radius: 12px 0px 0px 12px;
  cursor: pointer;
}
.research .input-group-search .button-input-search {
  border-radius: 0px 12px 12px 0px;
}
.research .research-propositions {
  z-index: 20;
  position: absolute;
  background-color: white;
  border-radius: 12px;
  height: auto;
  width: 100%;
  max-width: calc(100vw - 40px);
  padding-top: 15px;
  z-index: 410;
  cursor: pointer;
}
.research .research-propositions .research-proposition-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}
.research .research-propositions .research-proposition-link .mark {
  display: none;
}
.research .research-propositions .research-proposition-link .icon {
  padding-left: 15px;
  padding-right: 10px;
  max-width: 50px;
}
.research .research-propositions .research-proposition-link .icon img {
  max-height: 16px;
}
.research .research-propositions .research-proposition-link .title {
  font-size: 15px;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.research .research-propositions .research-proposition-link .category {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  text-align: right;
  margin-left: 10px;
  margin-right: 15px;
  font-size: 15px;
  font-weight: 300;
}
.research .research-propositions .research-proposition-link:hover {
  position: relative;
  background-color: #FFFDF8;
}
.research .research-propositions .research-proposition-link:hover .mark {
  position: absolute;
  display: block;
  z-index: 21;
  width: 4px;
  height: 100%;
  background-color: #FFCF39;
}
.research .research-filter {
  display: block;
  position: absolute;
  margin-top: -50px;
  left: 0px;
  width: auto;
  background-color: white;
  padding: 50px 20px 20px 35px;
  z-index: 410;
  border-radius: 0px 0px 30px 30px;
}
.research .research-filter .filters {
  display: flex;
  flex-direction: column;
}
.research .research-filter .filters p {
  display: block;
  margin-bottom: 5px;
  margin-top: 3px;
  color: #3E3F68;
}
.research .research-filter .filters p.category {
  font-size: 18px;
  font-weight: 400;
}
.research .research-filter .filters p.subcategory {
  font-size: 16px;
  font-weight: 400;
}
.research .research-filter .filters .research-filter-category,
.research .research-filter .filters .research-filter-subcategory {
  margin-bottom: 20px;
}
.research .research-filter .filters .research-filter-category .btn-white,
.research .research-filter .filters .research-filter-subcategory .btn-white {
  opacity: 0.7;
}
.research .research-filter .filters .research-filter-category .btn-white:hover,
.research .research-filter .filters .research-filter-subcategory .btn-white:hover {
  opacity: 1;
}
.research .research-filter .filters .buttons {
  display: flex;
  flex-wrap: wrap;
}
.research .research-filter .filters .buttons input[type=radio] {
  display: none;
}
.research .research-filter .filters .buttons label {
  display: block;
  text-transform: lowercase;
  cursor: pointer;
}
.research .research-filter .filters .buttons label::first-letter {
  text-transform: uppercase;
}
.research .research-filter .filters .btn-color {
  text-shadow: 0px 3px 3px #00000029;
}
.research .research-filter .button-action {
  font-size: 16px;
}

.map-and-list {
  position: absolute;
  height: calc(90vh - 30px);
  width: 100%;
  top: 90px;
}
.map-and-list #map {
  z-index: 10;
  width: 100%;
  height: calc(90vh - 60px);
  margin-top: -60px;
  margin-top: 0px;
}
.map-and-list #map:before {
  position: absolute;
  content: "";
  height: calc(90vh - 60px);
  width: 100%;
  background: linear-gradient(to top, transparent 80%, white 100%), linear-gradient(to bottom, transparent 80%, white 100%);
  pointer-events: none;
  z-index: 450;
}
.map-and-list .stores-list {
  position: absolute;
  display: flex;
  background: transparent;
  bottom: 20px;
  overflow-x: auto;
  align-items: flex-end;
  left: 20px;
  right: 20px;
  z-index: 400;
}
.map-and-list .stores-list .element-list {
  display: flex;
  flex-direction: column;
  min-width: 140px;
  width: 140px;
  margin-right: 15px;
}
.map-and-list .stores-list .element-list .img-element-list {
  width: 100%;
  height: 80%;
}
.map-and-list .stores-list .element-list .img-element-list img {
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px 2px 16px #0000002e;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.map-and-list .stores-list .element-list .info-element-list {
  max-height: 60px;
  background-color: #FFCF39;
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
}
.map-and-list .stores-list .element-list .info-element-list p {
  font-size: 14px;
  color: white;
}
.map-and-list .stores-list .element-list .info-element-list div .description-veryshort {
  display: none;
}
.map-and-list .stores-list .element-list .info-element-list div .note {
  display: flex;
  color: white;
  opacity: 0.7;
  font-size: 12px;
}
.map-and-list .stores-list .element-list .info-element-list div .note span:nth-child(2) {
  width: 20px;
}
.map-and-list .stores-list .element-list .info-element-list div .note span:nth-child(2) img {
  display: none;
}
.map-and-list .stores-list .element-list.active .img-element-list img {
  height: 120px;
}

.leaflet-control-container {
  position: absolute;
  right: 40px;
  top: 15px;
  display: none;
}

.leaflet-verticalcenter .leaflet-control {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  nav {
    margin-bottom: 40px;
  }
  nav .nav-links {
    height: 60px;
  }

  .header {
    display: flex;
    margin-bottom: 50px;
  }
  .header .home-col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .header .home-col-1 .illustration_home {
    min-width: 215px;
    width: 100%;
    max-width: 400px;
  }
  .header .home-col-2 {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header .home-col-2 h1,
.header .home-col-2 p {
    display: block;
  }
  .header .home-col-2 h1 {
    font-size: 32px;
    font-size: min(max(22px, 2.6vw), 32px);
    font-size: clamp($min-size, $scaler, $max-size);
    font-weight: 500;
  }
  .header .home-col-2 p {
    font-size: 18px;
    font-size: min(max(15px, 1.6vw), 18px);
    font-size: clamp($min-size, $scaler, $max-size);
    font-weight: 300;
    margin-bottom: 25px;
  }

  .research .research-filter {
    left: auto;
  }

  .map-and-list {
    position: relative;
    height: auto;
  }
  .map-and-list #map {
    border-radius: 50px 50px 0px 0px;
    margin-top: 0px;
    height: 500px;
  }
  .map-and-list #map:before {
    background: none;
  }
  .map-and-list .stores-list {
    position: absolute;
    top: 50px;
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 350px;
    margin-left: 15px;
    z-index: 400;
  }
  .map-and-list .stores-list .element-list {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    height: 90px;
    margin-bottom: 15px;
  }
  .map-and-list .stores-list .element-list .img-element-list {
    width: 65px;
    height: 65px;
    margin: 12.5px;
    z-index: 20;
    display: flex;
    align-items: center;
  }
  .map-and-list .stores-list .element-list .img-element-list img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
  .map-and-list .stores-list .element-list .info-element-list {
    position: absolute;
    z-index: 15;
    width: 100%;
    padding: 0px;
    height: 90px !important;
    max-height: 90px;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    border-radius: 10px !important;
    background-color: white;
    box-shadow: 0px 4px 16px #455b6314;
  }
  .map-and-list .stores-list .element-list .info-element-list p {
    margin: 12.5px 12.5px 5px 40%;
    color: #363636;
    font-weight: 700;
    font-size: 13px;
  }
  .map-and-list .stores-list .element-list .info-element-list div {
    position: relative;
    margin-left: 40%;
    width: 55%;
  }
  .map-and-list .stores-list .element-list .info-element-list div .description-veryshort {
    display: block;
    font-size: 12px;
    color: #363636;
    font-weight: 300;
    line-height: 11px;
    padding-bottom: 5px;
  }
  .map-and-list .stores-list .element-list .info-element-list div .note {
    position: relative;
    display: flex;
    justify-content: flex-end;
    color: #000000;
    font-weight: bold;
    margin-top: 5px;
  }
  .map-and-list .stores-list .element-list .info-element-list div .note span:nth-child(2) {
    width: auto;
  }
  .map-and-list .stores-list .element-list:hover {
    cursor: pointer;
  }
  .map-and-list .stores-list .element-list:hover .info-element-list {
    background-color: #ffe492;
  }

  .leaflet-control-container {
    display: block;
  }
}
/* -- Desktop --*/
/* --Mobile--*/
/* --Epaisseur police --*/
/* Time function */
.full-width {
  width: 100%;
}

.margin-constraint {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 40px);
  flex: 1;
  margin: 0 auto;
}

.useful-width {
  width: 100%;
  max-width: 1200px;
}

#app {
  width: 100%;
  height: 100%;
}
