@import "../abstract/mixins";
@import "../abstract/variables";

.navbar{
    @include flex-row-HorizontalBetween;
    align-items: center;
    width: 80%;
    height: 110px;
    margin: auto;

    & .site-logo{
        width: 40%;
    }
    & .main-menu{
        margin-top: 2px;
        width: 23%;
        max-width: 80px;
        list-style-type: none;
    }
    & .menu-link{
        display: none;
    }
    & .mobile-menu{
        opacity: 0;
        height: 100vh;
        width: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;
        background-color: #3F3543;
        padding: 0;
        transition: 300ms;

        ul{
            display: none;
            line-height: 100px;
            margin-left: auto;
            text-align: right;
            font-size: 30px;
            font-weight: bold;
        }
        a{
            color: white;
        }
    }
    .burger-menu{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 35px;
        right: 35px;
        z-index: 6;

        hr{
            margin: 15%;
            border: 2px solid black;
            transition: all .2s ease-in-out;
        }
    }
    input[type='checkbox'].burger-menu{
        opacity: 0;
        z-index: 7;
    }
    input[type='checkbox'].burger-menu:checked ~ .mobile-menu{
        opacity: 1;
        width: 75%;
        padding: 100px 50px 0 0;

        ul{
            display: block;
        }

    }
    input[type='checkbox'].burger-menu:checked + div.burger-menu{

        margin-top: 5px;

        :first-child{
            display: none;
        }
        :nth-child(2){
            transform: rotate(45deg) translate(3.7px, 3.7px);
        }
        :nth-child(3){
            transform: rotate(-45deg) translate(3.7px, -3.7px);
        }
        hr{
            border-color: white;
        }

    }



}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .navbar {

        .site-logo {
            width: 15%;
            min-width: 150px;
            padding: 10px;
        }

        .main-menu {
            @include flex-row-HorizontalBetween;
            width: 310px;
            margin-top: 0;
            max-width: none;
        }

        .menu-link {
            display: block;
            padding: 10px 0 0 0;
            font-size: $sizeSubTitle;
        }

        .burger-menu {
            display: none;
        }
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
