@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

//@import 'vendors';

@import "base/reset";
@import "base/typography";

@import "components/buttons";
@import "components/modal";

@import "layouts/footer";
@import "layouts/header";
@import "layouts/homeNavigation";

//@import 'components';

@import "pages/about";
@import "pages/account";
@import "pages/auth";
@import "pages/home";
@import "pages/login-register";

.full-width {
    width: 100%;
}
.margin-constraint {
    @include flex-column-verticalHorizontalCenter;
    width: $margin-constraint-width;
    flex: 1;
    margin: 0 auto;
}
.useful-width {
    width: 100%;
    max-width: $useful-width;
}
#app {
    width: 100%;
    height: 100%;
}
