@import "../abstracts/mixins";
@import "../abstracts/variables";


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   
    .account-info, .gestion-commerce {
        margin:0px;
        width:80%;
        align-self: center;
    }

    .info {
        margin-left:25%;
    }
    .info .data {
        flex-direction: row;
        flex-wrap:wrap;
    }
    .row {
        width:50%;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
