@import "../abstracts/mixins";
@import "../abstracts/variables";

.login-illustration{
    display: none;
}
.login-forms{
    margin-top: 35px;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.select-type{
    width: 50%;
    margin: 0 auto 30px auto !important;
    display: flex;
    justify-content: space-around;

    & label{
        font-weight: bold;
        font-size: 1.2em;
        padding: 15px 15px 10px 15px;
        border-radius: 15px;
    }
    & #connexion:checked + label[for="connexion"],
      #inscription:checked + label[for="inscription"]{
        background-color: $yellowSecondary;
        color: white;
    }
}
.login-section{

    width: 80%;
    margin: 15px auto 0 auto !important;

    & .login-input > input{
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        border-radius: 10px !important;
        margin: 10px 0 10px 0;
        border: none;
        outline: none;
        box-shadow: 0 0 6px #ebebeb;
    }

    & .login-btn{
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
        padding: 14px 0 14px 0 !important;
        font-weight: bold;
        margin-top: 15px;
    }

    & a:nth-child(2){
        display: flex;
        align-items: center;
        font-size: 1.2em;
        margin-top: 15px;
        padding: 14px 0 14px 15px;
        box-sizing: border-box;
        box-shadow: 0 0 6px #cccccc;
        border-radius: 10px;
    }

    & a:nth-child(3){
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    & .checkbox{
        display: flex;
        margin-top: 5px;
    }
}
.circle{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: $yellowSecondary;
    position: absolute;
    top: 40%;
    right: -50%;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .login-container{
        display: flex;
        justify-content: left;
        width: 80%;
        margin: auto;

        input,
        label,
        a{
            font-size: 1.2em;
        }
    }

    .login-illustration{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 55%;

        & h1{
            font-size: 3.5em;
            font-weight: bold;
            margin-bottom: 0;
        }

        & h3{
            font-size: 2.5em;
            font-weight: normal;
            margin-top: 10px;
        }

        & img{
            width: 50%;
            margin: auto;
        }
    }

    .login-forms{
        width: 30%;
    }
}
