@import "../abstracts/mixins";
@import "../abstracts/variables";
.home-col-1 {
    display: none;
}
.home-col-2 {
    h1,
    p {
        display: none;
    }
}
.research {
    position: relative;
    //Groupe input search
    .input-group-search {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 14px 0px #455b6314;
        border-radius: 12px;
        z-index: 420;
        //Input texte
        input[type="text"] {
            border-radius: 12px;
            border: 0px;
            font-size: 16px;
            width: 100%;
            padding-left: 20px;
            height: 100%;
            outline: none;
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: inherit;
            border: 0px;
            min-width: 45px;
            background-color: white;
            .icon-menu-filter {
                width: 17px;
            }
            .icon-search {
                width: 22px;
            }
        }
        .button-input-filter {
            padding-left: 5px;
            border-radius: 12px 0px 0px 12px;
            cursor: pointer;
        }
        .button-input-search {
            border-radius: 0px 12px 12px 0px;
        }
    }
    .research-propositions {
        z-index: 20;
        position: absolute;
        background-color: white;
        border-radius: 12px;
        height: auto;
        width: 100%;
        max-width: $margin-constraint-width;
        padding-top: 15px;
        z-index: 410;
        cursor: pointer;
        .research-proposition-link {
            display: flex;
            align-items: center;

            //padding: 15px 0px;
            justify-content: flex-start;
            height: 40px;
            .mark {
                display: none;
            }
            .icon {
                padding-left: 15px;
                padding-right: 10px;
                max-width: 50px;
                img {
                    max-height: $sizeText;
                }
            }
            .title {
                font-size: $sizeTextParagraph;
                text-align: left;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .category {
                display: flex;
                width: 70%;
                justify-content: flex-end;
                text-align: right;
                margin-left: 10px;
                margin-right: 15px;
                font-size: $sizeTextParagraph;
                font-weight: $ligth;
            }
            &:hover {
                position: relative;
                .mark {
                    position: absolute;
                    display: block;
                    z-index: 21;
                    width: 4px;
                    height: 100%;
                    background-color: $yellowSecondary;
                }
                background-color: $yellowSecondary-extralight;
            }
        }
    }
    .research-filter {
        display: block;
        position: absolute;
        margin-top: -50px;
        left: 0px;
        width: auto;
        background-color: white;
        padding: 50px 20px 20px 35px;
        z-index: 410;
        border-radius: 0px 0px 30px 30px;

        .filters {
            display: flex;
            flex-direction: column;
            p {
                display: block;
                margin-bottom: 5px;
                margin-top: 3px;
                color: $greyBlue;
            }
            p.category {
                font-size: 18px;
                font-weight: $regular;
            }
            p.subcategory {
                font-size: 16px;
                font-weight: $regular;
            }
            .research-filter-category,
            .research-filter-subcategory {
                margin-bottom: 20px;
                .btn-white {
                    opacity: 0.7;
                }
                .btn-white:hover {
                    opacity: 1;
                }
            }
            .buttons {
                display: flex;
                flex-wrap: wrap;

                input[type="radio"] {
                    display: none;
                }
                label {
                    display: block;
                    text-transform: lowercase;
                    cursor: pointer;
                }
                label::first-letter {
                    text-transform: uppercase;
                }
            }
            .btn-color {
                text-shadow: 0px 3px 3px #00000029;
            }
        }
        .button-action {
            font-size: 16px;
        }
    }
}

.map-and-list {
    position: absolute;
    height: calc(90vh - 30px);
    width: 100%;
    top: 90px;

    #map {
        z-index: 10;
        width: 100%;
        height: calc(90vh - 60px);
        margin-top: -$navbar_height;
        margin-top: 0px;
    }
    #map:before {
        position: absolute;
        content: "";
        height: calc(90vh - 60px);
        width: 100%;
        background: linear-gradient(to top, transparent 80%, white 100%),
            linear-gradient(to bottom, transparent 80%, white 100%);
        pointer-events: none;
        z-index: 450;
    }

    .stores-list {
        position: absolute;
        display: flex;
        background: transparent;
        bottom: 20px;
        overflow-x: auto;
        align-items: flex-end;
        left: 20px;
        right: 20px;
        z-index: 400;
        .element-list {
            display: flex;
            flex-direction: column;
            min-width: 140px;
            width: 140px;
            margin-right: 15px;
            .img-element-list {
                width: 100%;
                height: 80%;
                img {
                    border-radius: 12px 12px 0px 0px;
                    box-shadow: 0px 2px 16px #0000002e;
                    height: 100px;
                    object-fit: cover;
                }
            }
            .info-element-list {
                max-height: $listStores-element-info;
                background-color: $yellowSecondary;
                padding: 10px;
                border-radius: 0px 0px 8px 8px;
                p {
                    font-size: 14px;
                    color: white;
                }
                div {
                    .description-veryshort {
                        display: none;
                    }
                    .note {
                        display: flex;
                        color: white;
                        opacity: 0.7;
                        font-size: 12px;
                        span:nth-child(2) {
                            width: 20px;
                            img {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .element-list.active {
            .img-element-list {
                img {
                    height: 120px;
                }
            }
        }
    }
}

.leaflet-control-container {
    position: absolute;
    right: 40px;
    top: 15px;
    display: none;
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

.modal-store {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1000;
    min-height: 100%;

    .close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        z-index: 1;
        opacity: 1;
    }
    .close:hover {
        opacity: 1;
    }
    .close:before,
    .close:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 33px;
        width: 2px;
        background-color: white;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }

    .header-modal-store {
        position: relative;
        display: flex;
        flex-direction: column;
        .img-store {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 170px;
            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .img-store:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            background: transparent linear-gradient(180deg, #2a2e4300 0%, #795656 100%) 0% 0% no-repeat padding-box;
        }
        .info-store {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 30px;

            h3 {
                color: white;
                font-size: 42px;
                margin-bottom: 0px;
            }
            .note-store {
                display: flex;
                .icon-star {
                    width: 16px;
                    margin: 0 2px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .icon-star.disable {
                    opacity: 0.4;
                }
            }

            .stars-and-notes {
                display: flex;
                align-items: center;
                .total-notes {
                    margin-left: 10px;
                    color: $grey;
                    font-size: $sizeText--mobile;
                    color: white;
                }
            }
        }
    }

    .main-modal-store {
        position: relative;
        margin-top: -25px;
        border-radius: 15px;
        background-color: white;
        .comments-modal-store {
            h3 {
                font-size: $sizeSubTitle--mobile;
                font-weight: $regular;
            }
            .comment {
                padding: 12px;
                box-shadow: 0px 4px 16px #455b6314;
                .info-comment {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 2px;
                    div:nth-child(1) {
                        display: flex;
                        flex-direction: column;
                        .owner-comment {
                            font-size: $sizeText--mobile;
                            font-weight: $bold;
                        }
                        .data-comment {
                            font-size: $sizeText--mobile;
                            font-weight: $ligth;
                        }
                    }
                }
                .contain-comment {
                    font-size: $sizeTextAdditionnal--mobile;
                    font-weight: $ligth;
                }
            }
            .pagination-comment {
                display: none;
            }
        }
        .useful-width {
            display: flex;
            flex-direction: column;
        }
        .comments-modal-store {
            order: 2;
        }
        .description-modal-store {
            .title-favorite {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h3 {
                    font-size: $sizeSubTitle--mobile;
                    font-weight: $regular;
                }
                .icon-favorite {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 25px;
                    .fav-btn {
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                    }
                    @keyframes favme-anime {
                        0% {
                            opacity: 1;
                            font-size: ms(0);
                            -webkit-text-stroke-color: transparent;
                        }
                        25% {
                            opacity: 0.6;
                            color: #fff;
                            font-size: ms(-2);
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: #dc3232;
                        }
                        75% {
                            opacity: 0.6;
                            color: #fff;
                            font-size: ms(3);
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: #dc3232;
                        }
                        100% {
                            opacity: 1;
                            font-size: ms(2);
                            -webkit-text-stroke-color: transparent;
                        }
                    }

                    @keyframes favme-hover {
                        from {
                            font-size: ms(3);
                        }
                        80% {
                            font-size: ms(2);
                        }
                    }

                    .favme {
                        display: block;
                        font-size: 25px;
                        width: auto;
                        height: auto;
                        cursor: pointer;
                        box-shadow: none;
                        transition: all 0.2s ease;
                        color: #cbcdce;
                        margin: 0;

                        &.active {
                            color: #dc3232;
                        }
                        &:hover {
                            animation: favme-hover 0.3s infinite alternate;
                        }
                        &.is_animating {
                            animation: favme-anime 0.3s;
                        }
                    }
                }
            }
            .content-description {
                font-size: $sizeText--mobile;
                color: $greyRed;
                font-weight: $ligth;
                line-height: 1.4;
                margin-bottom: 20px;
            }
            .info-contact-store {
                margin-bottom: 20px;
                .part {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 400px;
                }
                .element-info-contact-store {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    font-size: $sizeText--mobile;
                    font-weight: $ligth;
                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 40px;
                        i {
                            font-size: 20px;
                            color: $yellowSecondary;
                        }
                    }
                }
            }
        }
    }
}

@include respond-to("M") {
    .modal-store {
        width: 100%;
        .close:before,
        .close:after {
           
            background-color: $grey;
        }
        .header-modal-store {
            flex-direction: row;
            max-width: $useful-width;
            margin: 40px auto;
            .img-store {
                width: calc(40% - 20px);
                margin-left: 20px;
                height: 20vw;
            }
            .info-store {
                margin-left: 100px;
                width: 40%;
                h3,
                .total-notes {
                    color: $grey !important;
                }
            }
        }
        .main-modal-store {
            .useful-width {
                flex-direction: row;
                .comments-modal-store,
                .description-modal-store {
                    width: 40%;
                }
                .comments-modal-store {
                    order: 0;
                    .comment {
                        padding: 15px;
                    }
                    .date-comment {
                        font-size: 14;
                    }
                    .note-comment {
                        color: $yellowSecondary;
                        font-size: 14px;
                    }
                    .contain-comment {
                        font-size: 14px;
                    }
                    .pagination-comment {
                        display: flex;
                        justify-content: center;
                        button {
                            margin: 10px;
                            background-color: white;
                            display: block;
                            height: 40px;
                            width: 40px;
                            border-radius: 10px;
                            box-shadow: 0px 4px 6px #00000029;
                            border: 0px;
                            font-size: 15px;
                            color: $grey;
                        }
                    }
                }
                .description-modal-store {
                    margin-left: 100px;
                }
            }
        }
    }
    nav {
        margin-bottom: $marginBottom-section;
        .nav-links {
            height: $navbar_height;
        }
    }
    .header {
        display: flex;
        margin-bottom: 50px;
        .home-col-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            .illustration_home {
                min-width: 215px;
                width: 100%;
                max-width: 400px;
            }
        }
        .home-col-2 {
            padding: 0px 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1,
            p {
                display: block;
            }
            h1 {
                //font-size: $sizeTitlePage;
                @include clamp("font-size", 22px, 2.6vw, $sizeTitlePage);
                font-weight: $medium;
            }
            p {
                @include clamp("font-size", 15px, 1.6vw, $sizeTextCTA);
                font-weight: $ligth;
                margin-bottom: 25px;
            }
        }
    }
    .research {
        .research-filter {
            left: auto;
        }
    }
    .map-and-list {
        position: relative;
        height: auto;

        #map {
            border-radius: 50px 50px 0px 0px;
            margin-top: 0px;
            height: 500px;
        }
        #map:before {
            background: none;
        }
        .stores-list {
            position: absolute;
            top: 50px;
            height: 400px;
            display: flex;
            flex-direction: column;
            width: 30%;
            max-width: 350px;
            margin-left: 15px;
            z-index: 400;
            .element-list {
                position: relative;
                width: 100%;
                max-width: 100%;
                margin-right: 0px;
                display: flex;
                flex-direction: row;
                height: $element-list-height;
                margin-bottom: 15px;
                .img-element-list {
                    width: 65px;
                    height: $img-element-list-height;
                    $res: $element-list-height - $img-element-list-height;
                    margin: $res / 2;

                    z-index: 20;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 7px;
                    }
                }
                .info-element-list {
                    position: absolute;
                    z-index: 15;
                    width: 100%;
                    padding: 0px;
                    height: $element-list-height !important;
                    max-height: $element-list-height;
                    right: 0px;
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    border-radius: 10px !important;
                    background-color: white;
                    box-shadow: 0px 4px 16px #455b6314;
                    p {
                        $res: $element-list-height - $img-element-list-height;
                        margin: $res / 2 $res / 2 5px 40%;
                        color: $grey;
                        font-weight: $bold;
                        font-size: 13px;
                    }
                    div {
                        position: relative;
                        margin-left: 40%;
                        width: 55%;
                        .description-veryshort {
                            display: block;
                            font-size: 12px;
                            color: $grey;
                            font-weight: $ligth;
                            line-height: 11px;
                            padding-bottom: 5px;
                        }

                        .note {
                            position: relative;
                            display: flex;
                            justify-content: flex-end;
                            color: #000000;
                            font-weight: bold;
                            margin-top: 5px;

                            span:nth-child(2) {
                                width: auto;
                            }
                        }
                    }
                }
            }
            .element-list:hover {
                cursor: pointer;
            }
            .element-list:hover .info-element-list {
                background-color: $yellowSecondary-light;
            }
        }
    }
    .leaflet-control-container {
        display: block;
    }
}
