@import "../abstracts/mixins";
@import "../abstracts/variables";

.home-col-1 {
    display: none;
}
.home-col-2 {
    h1,
    p {
        display: none;
    }
}

.research {
    //Groupe input search
    .input-group-search {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 14px 0px #455b6314;
        border-radius: 12px;
        z-index: 30;
        //Input texte
        input[type="text"] {
            border-radius: 12px;
            border: 0px;
            font-size: 16px;
            width: 100%;
            padding-left: 20px;
            height: 100%;
            outline: none;
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: inherit;
            border: 0px;
            min-width: 45px;
            background-color: white;
            .icon-menu-filter {
                width: 17px;
            }
            .icon-search {
                width: 22px;
            }
        }
        .button-input-filter {
            padding-left: 5px;
            border-radius: 12px 0px 0px 12px;
        }
        .button-input-search {
            border-radius: 0px 12px 12px 0px;
        }
    }
    .research-filter {
        display: block;
        position: absolute;
        margin-top: -50px;
        left: 0%;
        width: 100%;
        background-color: white;
        padding: 50px 20px 20px 35px;
        z-index: 20;
        border-radius: 0px 0px 30px 30px;

        .filters {
            display: flex;
            flex-direction: column;
            p {
                display: block;
                margin-bottom: 5px;
                margin-top: 3px;
                color: $greyBlue;
            }
            p.category {
                font-size: 18px;
            }
            p.subcategory {
                font-size: 16px;
            }
            .research-filter-category,
            .research-filter-subcategory {
                margin-bottom: 20px;
                .btn-white {
                    opacity: 0.7;
                }
                .btn-white:hover {
                    opacity: 1;
                }
            }
            .buttons {
                display: flex;
                flex-wrap: wrap;
            }
            .btn-color {
                text-shadow: 0px 3px 3px #00000029;
            }
        }
        .button-action {
            font-size: 16px;
        }
    }
}

//Map style
.map-and-list {
    height: 100%;
    width: 100%;
    #map {
        z-index: 10;
        background: url("../img/bg-map.png");
        width: 100%;
        height: 100%;
        margin-top: -$navbar_height;
        background: linear-gradient(to top, transparent 80%, white 100%), url("../img/bg-map.png");
    }
    .stores-list {
        display: none;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
